{% extends 'base/list.html' %}
{% load static %}
{% block head_list %}
  <script src="{% static 'js/ptnv.js' %}"></script>
{% endblock %}

{% block title_list %}
  Listado de Puntos de ventas
{% endblock %}

{% block buttons_list %}
  <a href="{% url "create_puntvemt" %}" class="btn btn-primary btn-flat mr-3"><i class="fas fa-plus"></i> Nuevo registro</a>
{% endblock %}

{% block columns %}
  <tr>
    <th scope="col" style="width: 30%;">Nombre</th>
    <th scope="col" style="width: 30%;">Ubicación</th>
    <th scope="col" style="width: 20%;">Estado</th>
    <th scope="col" style="width: 20%;">Opciones</th>
  </tr>
{% endblock %}

{% block rows %}
  {% for ptnv in ptnvs %}
    <tr>
      <td>{{ ptnv.nombre }}</td>
      <td>{{ ptnv.ubicacion }}</td>
      <td>{{ ptnv.activo|yesno:'Activo,Inactivo' }}</td>

      <td scope="col" style="width: 10%;">
        <div class="row">
          <div class="col-sm-6 col-12">
            <a href="" class="edit-btn rounded btn btn-warning btn-flat btn-sm" title="Editar Registro" data-in-processed=""><i class="fas fa-edit"></i></a>
          </div>
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
